{% load static %}

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <h2 class="ui red header">Listado de últimos discos</h2>
    <div class="row">
      <div class="eight wide column">

        {% for disco in discos %}
          <h3 class="ui header"><a href="{% url 'disco_id' disco.id %}">{{ disco.nombre }}</a></h3>
          <p>Artista: <a href="{% url 'trapero_id' disco.trapero.id %}">{{ disco.trapero.aka }}</a></p>
          <p>Fecha lanzamiento: {{ disco.fecha_publicacion }}</p>
          <!-- <p>Fecha lanzamiento: {{ disco.fecha_publicacion|date:"d/m/Y" }}</p> -->
          <a href="{% url 'disco_id' disco.id %}"><img class="trapero" src="{{ disco.portada.url }}" width="100px"></img></a>
          <div class="ui divider"></div>
        {% empty %}
          <h3>Actualmente no hay discos registrados</h3>
        {% endfor %}

      </div>
      <div class="six wide right floated column">
        <img src="{% static 'img/discos.jpg' %}" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a href="/discos" class="ui huge button">Ver más discos</a>
      </div>
    </div>
  </div>
</div>
