{% extends 'base.html' %}

{% block 'content' %}

  {% include "index/masthead.html" %}

  <div class="ui container">
    <div class="ui special cards">

      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
            </div>
          </div>
          <img class="trapero" src="{{ unico_disco.portada.url }}"></img>
        </div>
        <div class="content">
          {% for trapero in disco.trapero.all %}
            <p>Artista: <a href="{% url 'trapero_id' trapero.pk %}">{{ trapero.aka }}</a></p>
          {% endfor %}
          <div class="meta">
            <span class="date">Título: {{ unico_disco.nombre }}</span>
          </div>
          <div class="meta">
            <span class="date">Fecha lanzamiento: {{ unico_disco.fecha_publicacion }}</span>
          </div>
        </div>
      </div>

    </div>
  </div>


{% endblock %}
